accelerate==1.7.0
aiofiles==24.1.0
aiosignal==1.3.2
alembic==1.13.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.6.2.post1
archspec==0.2.1
attrs==24.1.0
cudnn==8.9.7
datasets==2.20.0
filelock==3.13.1
frozendict==2.4.1
fsspec==2025.3.0
gradio==4.4.0
huggingface-hub==0.32.4
idna==3.6
importlib_metadata==7.2.1
joblib==1.4.2
jsonschema==4.21.1
packaging==24.1
pandas==2.2.2
pillow==10.3.0
protobuf==5.29.3
psutil==6.1.0
pydantic==2.8.2
pydantic_core==2.20.1
python-dateutil==2.8.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rich==14.0.0
rpds-py==0.10.6
safetensors==0.5.3
scipy==1.15.2
sentencepiece==0.2.0
setuptools==80.1.0
shellingham==1.5.4
six==1.16.0
tokenizers==0.21.1
tqdm==4.66.5
transformers==4.52.4
typing_extensions==4.12.2
uvicorn==0.34.0
wheel==0.45.1
zstandard==0.23.0
bitsandbytes==0.46.0
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchvision==0.22.0+cu128
peft==0.15.2